<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{58,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,72}}</string>
        <key>sourceSize</key>
        <string>{58,72}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com4.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,0},{63,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,65}}</string>
        <key>sourceSize</key>
        <string>{63,65}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com5.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,0},{55,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,73}}</string>
        <key>sourceSize</key>
        <string>{55,73}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com36.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,0},{64,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,60}}</string>
        <key>sourceSize</key>
        <string>{64,60}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com37.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,0},{57,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,61}}</string>
        <key>sourceSize</key>
        <string>{57,61}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com30.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,0},{57,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,60}}</string>
        <key>sourceSize</key>
        <string>{57,60}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com16.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,0},{56,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,61}}</string>
        <key>sourceSize</key>
        <string>{56,61}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com10.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,0},{56,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,61}}</string>
        <key>sourceSize</key>
        <string>{56,61}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com18.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,62},{56,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,60}}</string>
        <key>sourceSize</key>
        <string>{56,60}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com12.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,62},{56,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,60}}</string>
        <key>sourceSize</key>
        <string>{56,60}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com32.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,63},{53,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,62}}</string>
        <key>sourceSize</key>
        <string>{53,62}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com21.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,63},{53,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,61}}</string>
        <key>sourceSize</key>
        <string>{53,61}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com27.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,63},{53,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,61}}</string>
        <key>sourceSize</key>
        <string>{53,61}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com20.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,67},{53,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,61}}</string>
        <key>sourceSize</key>
        <string>{53,61}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com17.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,74},{50,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,64}}</string>
        <key>sourceSize</key>
        <string>{50,64}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com24.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,75},{53,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,60}}</string>
        <key>sourceSize</key>
        <string>{53,60}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com22.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,124},{50,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,63}}</string>
        <key>sourceSize</key>
        <string>{50,63}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com7.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,124},{52,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,60}}</string>
        <key>sourceSize</key>
        <string>{52,60}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com28.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,126},{49,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,63}}</string>
        <key>sourceSize</key>
        <string>{49,63}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com26.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,126},{49,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,62}}</string>
        <key>sourceSize</key>
        <string>{49,62}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com34.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,126},{48,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,63}}</string>
        <key>sourceSize</key>
        <string>{48,63}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com0.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,127},{50,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,60}}</string>
        <key>sourceSize</key>
        <string>{50,60}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com35.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,130},{47,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,60}}</string>
        <key>sourceSize</key>
        <string>{47,60}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com23.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,137},{46,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,60}}</string>
        <key>sourceSize</key>
        <string>{46,60}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,140},{44,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,62}}</string>
        <key>sourceSize</key>
        <string>{44,62}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com14.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,186},{44,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,62}}</string>
        <key>sourceSize</key>
        <string>{44,62}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com15.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,189},{44,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,62}}</string>
        <key>sourceSize</key>
        <string>{44,62}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com3.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,189},{44,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,62}}</string>
        <key>sourceSize</key>
        <string>{44,62}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com8.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,190},{44,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,62}}</string>
        <key>sourceSize</key>
        <string>{44,62}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com29.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,191},{46,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,59}}</string>
        <key>sourceSize</key>
        <string>{46,59}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com38.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,191},{42,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,63}}</string>
        <key>sourceSize</key>
        <string>{42,63}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com25.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,192},{42,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,62}}</string>
        <key>sourceSize</key>
        <string>{42,62}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com13.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,199},{42,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,62}}</string>
        <key>sourceSize</key>
        <string>{42,62}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com33.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,204},{41,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,63}}</string>
        <key>sourceSize</key>
        <string>{41,63}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com39.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,250},{41,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,63}}</string>
        <key>sourceSize</key>
        <string>{41,63}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com1.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,252},{41,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,62}}</string>
        <key>sourceSize</key>
        <string>{41,62}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com19.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,252},{41,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,61}}</string>
        <key>sourceSize</key>
        <string>{41,61}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com2.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,253},{41,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,61}}</string>
        <key>sourceSize</key>
        <string>{41,61}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com6.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,253},{41,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,61}}</string>
        <key>sourceSize</key>
        <string>{41,61}</string>
      </dict>
      <key>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com31.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,254},{41,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,61}}</string>
        <key>sourceSize</key>
        <string>{41,61}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com.png</string>
      <key>size</key>
      <string>{499,315}</string>
      <key>textureFileName</key>
      <string>Q版中国古代军队塔防游戏资源-白旗(BaiQi)_爱给网_aigei_com.png</string>
    </dict>
  </dict>
</plist>